<div class="wrapper">
  <app-nav-menu>
  </app-nav-menu>
  <!-- HOME SECTION................................. -->
  <section id="home">

    <!-- VIDEO-background -->
    <video loop muted autoplay id="video-background">
          </video>
    <div class="video-overlay"></div>
         <!-- crda-2 -->
          <!-- main-title -->
      <h1 class="main-title">Kirteeraj</h1>
      <!-- Social Icons -->

      <div class="social-icons" >

        <a href="" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'github']" title="Github"></fa-icon></a>
        <a href="" target="_blank" rel="noopener"><fa-icon [icon]="['fab','codepen']"title="Codepen"></fa-icon></a>
        <a href="" target="_blank" rel="noopener"><fa-icon [icon]="['fab','linkedin']" title="Linkedin"></fa-icon></a>
        <a href="" target="_blank" rel="noopener"><fa-icon [icon]="['fab','instagram']" title="Instagram"></fa-icon></a>
        <a href="" target="_blank" rel="noopener"><fa-icon [icon]="['fab','facebook']" title="Facebook"></fa-icon></a>
        <a href="" target="_blank" rel="noopener"><fa-icon [icon]="['fab','google']" title="Gmail"></fa-icon></a>
      </div>  
     
  </section>  
  <!-- ABOUT SECTION................................. -->
  <div class="background">
    <section id="about">
      <div class="card">
        <img src="../assets/img/kirteeraj.jpg" alt="Picture" class="about-img">
        <div class="card-body">
          <h1 class="card-title">About</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a href="#">
            <div class="card-button">View Resume
            </div>
          </a>
        </div>
      </div>
    </section>
  <div>

  <!-- PROJECT SECTION................................. -->
  <section id="project"></section>
  <!-- CONTACT SECTION SECTION................................. -->
  
<div class="background2">
      <section id="contact" >
      <!-- mail to link -->
  <!-- <a href="mail to:kirteerajmalkar@gmail.com"  class="contact-mail" target="_blank" rel="noopener">
    kirteerajmalkar@gmail.com
  </a> -->

  <!-- video background -->
  <!-- <video muted  id="video-background-2" onmouseover="SidebarOn()">
      <source src="../assets/img/domino.mp4" type="video/mp4">
    </video> -->
      
    <!-- Bussiness card mock up -->
    <a href="mail to:kirteerajmalkar@gmail.com" title="click to send E-mail" target="_blank" rel="noopener">
    <img src="../assets/img/card.png" alt="bussiness-card" class="bussiness-card">
  </a>
    </section>
</div>
  
  


  <!-- FOOTER SECTION................................. -->
  <section id="footer">
    <div class="footer-icons">
        <a href="" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'github']" title="Github"></fa-icon></a>
        <a href="" target="_blank" rel="noopener"><fa-icon [icon]="['fab','codepen']"title="Codepen"></fa-icon></a>
        <a href="" target="_blank" rel="noopener"><fa-icon [icon]="['fab','linkedin']" title="Linkedin"></fa-icon></a>
        <a href="" target="_blank" rel="noopener"><fa-icon [icon]="['fab','instagram']" title="Instagram"></fa-icon></a>
        <a href="" target="_blank" rel="noopener"><fa-icon [icon]="['fab','facebook']" title="Facebook"></fa-icon></a>
        <a href="" target="_blank" rel="noopener"><fa-icon [icon]="['fab','google']" title="Gmail"></fa-icon></a> 


        <p class="footer-text">Making With ♥ -Kirteeraj 2020</p>    

      
    </div>
  </section>
 
</div>   